html {
  height: 100%;
}

body {
  background: linear-gradient(#443f6e, #bf4e64);
}

.header {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(128, 128, 128, 0.3);
  padding: 10px;
  margin: 0;
}

.profile {
  display: flex;
  flex-direction: column;
}

img {
  height: 150px;
  border-radius: 15px;
  margin-bottom: 0px;
  width: auto;
  opacity: 0.2;
}

.active {
  opacity: 1;
}

div > h4 {
  margin: 0;
  padding: 5px;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.display {
  background-color: rgba(128, 128, 128, 0.3);
  margin: 10px 0;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.row1,
.row2 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 10px;
}

.options {
  background-color: rgba(128, 128, 128, 0.3);
  padding: 10px;
}

button {
  width: 100px;
  font-size: 18px;
  height: 50px;
  color: rgba(255, 255, 255, 0.75);
  margin: 5px;
  background-color: #443f6e;
  border: none;
}

button:hover {
  background-color: rgba(128, 128, 128, 0.99);
}

button:active {
  background-color: rgba(128, 128, 128, 0.1);
}

p {
  text-align: center;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.75);
}

#quantity {
  width: 40px;
  height: 25px;
}

.label {
  background-color: #443f6e;
  color: white;
  padding: 16px 15px 15px 15px;

  margin-right: 9px;
}
